*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

:root {
  --primary: rgba(9, 56, 177, 1);
  --secondary: rgba(44, 44, 44, 1);
  --tertiary: #f2bd00;
  --background-color: #e5e5e5;
  --nav-bg: rgba(240, 244, 255, 1);
  --text-color: rgba(255, 255, 255, 1);
  --font-family: "Inter", sans-serif;
  --light-weight: 400;
  --semi-weight: 600;
  --darker-weight: 700;
}

.header-container {
  background-color: var(--nav-bg);
  height: 70px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {
    background-color: var(--nav-bg);
  }
  to {
    background-color: #eef2f3;
  }
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 60px;
  transition: 2s ease-in-out;
  align-items: center;
  animation: slidein 2s linear;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

.menu-toggle {
  display: none;
}

.title-tag {
  color: var(--primary);
  font-weight: var(--darker-weight);
  font-size: 20px;
  margin-top: 10px;
}

.title-span {
  font-weight: normal;
}

ul {
  display: flex;
  margin-top: 10px;
}

ul li {
  list-style: none;
  margin: 0 20px;
}

ul li a {
  text-decoration: none;
}

.faq {
  margin-top: 15px;
  font-weight: var(--light-weight);
  font-style: normal;
  font-size: 15px;
}

.faq:hover {
  text-decoration: underline;
}

.faq a {
  color: var(--primary);
}

.joinus-btn {
  height: 50px;
  width: 125px;
  background-color: var(--primary);
  color: var(--text-color);
  font-weight: var(--darker-weight);
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.joinus-btn:hover {
  background-color: #219ebc;
  transition: 2s ease-in-out;
}

main {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
}

.section-one {
  /* border: 2px solid red; */
  width: 50%;
}

.section-two {
  /* border: 2px solid yellow; */
  width: 50%;
  position: relative;
}

/* .dotted-img-ctn {
  height: 100%;
  width: 100%;
} */

.dotted-img {
  height: 35px;
  width: 35px;
  margin-top: 20px;
  margin-left: 30px;
}

.hero-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  animation: slidefrombottom 3s linear forwards;
}

@keyframes slidefrombottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.profile-img {
  height: 510px;
  /* width: 100%; */
  width: 690px;
  margin-top: -15px;
}

.section-one-wrapper {
  /* border: 2px solid brown; */
  width: 100%;
  margin-top: 50px;
  animation: slideleft 2s linear forwards;
}

@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.text-info-one {
  font-weight: var(--darker-weight);
  color: var(--secondary);
  font-size: 45px;
}

.text-info-two {
  font-weight: var(--light-weight);
  font-style: normal;
  color: var(--secondary);
  margin-top: 20px;
  font-size: 22px;
}

.reg-buttons {
  display: flex;
  margin: 55px 0;
}

.sign-in {
  border: 2px solid rgba(9, 56, 177, 1);
  background-color: transparent;
  color: var(--primary);
  height: 50px;
  width: 110px;
  font-weight: var(--darker-weight);
  font-style: normal;
  font-size: 15px;
  cursor: pointer;
}

.sign-in:hover {
  background-color: var(--primary);
  color: #ffffff;
  transition: 2s ease-in-out;
}

.sign-in-two {
  display: none;
}

.login-span {
  display: none;
}

.sign-up-btn {
  height: 50px;
  width: 150px;
  background-color: var(--primary);
  color: var(--text-color);
  font-weight: var(--darker-weight);
  font-size: 15px;
  border: none;
  margin: 0 15px;
  cursor: pointer;
}

.sign-up-btn:hover {
  background-color: #219ebc;
  transition: 2s ease-in;
}

.chat-box {
  margin-top: 100px;
  display: flex;
  align-items: center;
  border: 2px solid var(--tertiary);
  width: 100%;
  max-width: 45%;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 1);
  cursor: pointer;
}

.message-icon {
  height: 50px;
  width: 50px;
}

.chat-text {
  margin: 0 9px;
}

.sign-up-ctn {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  height: 100vh;
  max-height: 600px;
  width: 500px;
  text-align: center;
  background-color: white;
  z-index: 10;
}

.signup-sub-ctn {
  width: 90%;
  margin-left: 25px;
}

.close-btn-ctn {
  /* width: 10%; */
  position: absolute;
  top: 10px;
  left: 530px;
  border-radius: 5px;
}
.closeSignUpbutton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  background-color: #ffffff;
  color: var(--secondary);
  font-weight: var(--light);
  border: none;
}
/* 
.close-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  background-color: #ffffff;
  color: var(--primary);
  font-weight: var(--light);
  border: 2px solid purple;
} */

.sign-up-ctn.active {
  transform: translate(-50%, -50%) scale(1);
}

/* .sign-up-wrapper {
  box-shadow: 2px, 2px;
} */

.greeting-txt {
  margin-top: 50px;
  color: var(--secondary);
  font-weight: var(--semi-weight);
  font-size: 25px;
}

.prep-txt {
  font-weight: var(--light-weight);
  font-size: 15px;
  margin-top: 5px;
  color: var(--secondary);
  /* margin-left: 60px; */
}

form {
  margin-top: 25px;
  text-align: left;
  padding: 0 110px;
  /* margin-left: 50px; */
}

.form-headings {
  display: flex;
  flex-direction: column;
}

.labels {
  color: var(--secondary);
  font-size: 12px;
  font-weight: var(--light-weight);
}

.password-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #2c2c2c;
  background-color: white;
  height: 40px;
  align-items: center;
}

#passwordwrap {
  border: none;
  width: 100%;
  padding: 0 5px;
  font-size: 14px;
}

#passwordwrap:focus {
  outline: none;
  color: var(--secondary);
}

.pwd-block {
  margin-right: 10px;
  color: black;
  cursor: pointer;
}

.pwd-info {
  margin: 5px 0;
}

.inputs {
  height: 40px;
  border: 1px solid #2c2c2c;
  color: #a9a9a9;
  font-weight: var(--light-weight);
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 5px;
}

.inputs:focus {
  outline: none;
  color: var(--secondary);
}

.join-us-now-two {
  height: 50px;
  width: 100%;
  background-color: var(--primary);
  color: var(--text-color);
  font-weight: var(--darker-weight);
  font-size: 20px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

.hr-lines {
  margin-top: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.hr1 .hr2 {
  height: 1px;
  width: 100%;
}

.alt-text {
  text-align: center;
  font-size: 12px;
  font-weight: var(--light-weight);
}

.google-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2c2c2c;
  padding: 3px 0;
  margin: 15px 0;
  cursor: pointer;
}

.google-text {
  color: var(--secondary);
  font-weight: var(--light-weight);
  margin-left: 10px;
}

.existing-user {
  text-align: center;
  color: var(--secondary);
  font-size: 12px;
}

.lg-link a {
  color: var(--primary);
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.sign-in-ctn {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  height: 100vh;
  max-height: 600px;
  width: 500px;
  text-align: center;
  background-color: white;
  z-index: 10;
}

.signin-sub-ctn {
  width: 90%;
  margin-left: 25px;
}

.closeSignInbutton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  background-color: #ffffff;
  color: var(--secondary);
  font-weight: var(--light);
  border: none;
}

.sign-in-ctn.active {
  transform: translate(-50%, -50%) scale(1);
}

/* .hidden {
  display: none;
} */

.forgot-pwd {
  color: var(--primary);
  font-size: 12px;
  font-weight: var(--light);
  margin: 10px 0;
}

.Log-in-btns {
  height: 50px;
  width: 100%;
  background-color: var(--primary);
  color: var(--text-color);
  font-weight: var(--darker-weight);
  font-size: 20px;
  border: none;
  margin: 30px 0;
  cursor: pointer;
}

.new-user {
  text-align: center;
  color: var(--secondary);
  font-size: 12px;
}

.forgot-wrapper {
  text-align: center;
}

.forgot-pwd-two {
  color: var(--primary);
  font-size: 12px;
  font-weight: var(--light);
  margin: 10px 0;
}

#navBarr {
  display: none;
}

@media only screen and (max-width: 900px) and (min-width: 480px) {
  html,
  body {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .sign-up-ctn {
    /* display: block; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    height: 100vh;
    /* max-height: 600px; */
    width: 100vw;
    text-align: center;
    background-color: white;
    z-index: 0;
  }

  .signup-sub-ctn {
    width: 90%;
    margin-left: 25px;
  }

  .close-btn-ctn {
    display: none;
    position: absolute;
    top: 10px;
    left: 530px;
    border-radius: 5px;
  }

  .sign-in-ctn {
    position: absolute;
    display: block;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    height: 100vh;
    /* max-height: 600px; */
    width: 100vw;
    text-align: center;
    background-color: white;
    z-index: 0;
  }

  .signin-sub-ctn {
    width: 90%;
    margin-left: 25px;
  }

  .closeSignInbutton {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    background-color: #ffffff;
    color: var(--secondary);
    font-weight: var(--light);
    border: none;
  }

  #navBarr {
    display: none;
  }

  #overlay {
    display: none;
  }

  .header-container {
    background-color: var(--nav-bg);
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    margin-top: 15px;
  }

  .title-tag {
    color: var(--primary);
    font-weight: var(--darker-weight);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .title-span {
    font-weight: normal;
  }

  ul {
    display: flex;
    margin-top: 10px;
  }

  ul li {
    list-style: none;
    margin: 0 20px;
  }

  ul li a {
    text-decoration: none;
  }

  .faq {
    margin-top: 15px;
    font-weight: var(--light-weight);
    font-style: normal;
    font-size: 15px;
    margin-top: 3px;
    margin-right: -40px;
  }

  .faq a {
    color: var(--secondary);
  }

  .joinus-btn {
    display: none;
    height: 50px;
    width: 125px;
    background-color: var(--primary);
    color: var(--text-color);
    font-weight: var(--darker-weight);
    font-size: 15px;
    border: none;
    cursor: pointer;
  }

  main {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    padding: 0 100px;
  }

  .section-one {
    /* border: 2px solid red; */
    width: 100%;
  }

  .section-two {
    /* border: 2px solid yellow; */
    width: 100%;
    /* position: relative; */
  }

  .dotted-img {
    display: none;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .hero-img-wrapper {
    display: block;
    text-align: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
  }

  .profile-img {
    height: 350px;
    /* width: 100%; */
    width: 400px;
    margin-top: 15px;
    margin-right: 80px;
  }

  .section-one-wrapper {
    /* border: 2px solid brown; */
    width: 100%;
    margin-top: 5px;
  }

  .text-info-one {
    font-weight: var(--darker-weight);
    color: var(--secondary);
    font-size: 35px;
  }

  .text-info-two {
    font-weight: var(--light-weight);
    font-style: normal;
    color: var(--secondary);
    margin-top: 20px;
    font-size: 20px;
  }

  .reg-buttons {
    display: flex;
    flex-direction: column-reverse;
    margin: 15px 0;
  }

  .sign-in {
    display: none;
  }

  .sign-in-two {
    display: block;
    border: 3px solid rgba(9, 56, 177, 1);
    background-color: transparent;
    color: var(--primary);
    height: 50px;
    width: 100%;
    font-weight: var(--darker-weight);
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
  }

  .sign-up-btn {
    height: 50px;
    width: 100%;
    background-color: var(--primary);
    color: var(--text-color);
    font-weight: var(--darker-weight);
    font-size: 20px;
    border: none;
    margin: 0 0;
    cursor: pointer;
  }

  .chat-box {
    display: none;
  }

  #navBarr {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    padding: 0 0;
    z-index: 10;
  }

  .sidebar-content ul {
    background-color: #ffffff;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    max-height: 750px;
    margin-top: -1px;
  }

  /* .categories-container ul {
    display: flex;
    flex-direction: column;
  } */

  .bit-logo-ctn {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .bit-logo {
    color: var(--primary);
    font-weight: var(--darker-weight);
    font-size: 20px;
  }

  .spanned-logo {
    font-weight: normal;
  }

  .sign-ups {
    color: var(--primary);
    font-weight: var(--semi-weight);
    font-size: 18px;
  }

  .login-bottom {
    margin: 10px 0;
    padding-left: 20px;
    /* border-bottom: 2px solid rgba(44, 44, 44, 0.3); */
  }

  .logins {
    color: var(--primary);
    font-weight: var(--semi-weight);
    font-size: 18px;
  }

  .services-ctn {
    border-top: 2px solid rgba(44, 44, 44, 0.3);
    border-bottom: 2px solid rgba(44, 44, 44, 0.3);

    margin-top: 20px;
  }

  .wrappers {
    padding: 35px 0;
  }

  .services {
    color: var(--secondary);
    font-weight: var(--light-weight);
    font-size: 20px;
    padding: 10px 0;
  }

  .copyright {
    font-size: 12px;
    padding-top: 5px;
  }

  .ft-services {
    margin-top: 20px;
  }

  .sideBarCloseBtn {
    position: relative;
    top: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    background-color: #ffffff;
    font-weight: var(--light-weight);
    /* color: var(--secondary); */
    color: var(--secondary);
    border: none;
    display: block;
  }

  /* only screen and  */
}

/* .close-button {
    display: block;
  } */

@media only screen and (max-width: 480px) {
  html,
  body {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* #navBarr {
    display: none;
    z-index: 10;
  } */

  .header-container {
    background-color: var(--nav-bg);
    height: 50px;
  }

  .header-container {
    background-color: var(--nav-bg);
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    margin-top: 15px;
  }

  .title-tag {
    color: var(--primary);
    font-weight: var(--darker-weight);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .title-span {
    font-weight: normal;
  }

  ul {
    display: flex;
    margin-top: 10px;
  }

  ul li {
    list-style: none;
    margin: 0 20px;
  }

  ul li a {
    text-decoration: none;
  }

  .faq {
    margin-top: 15px;
    font-weight: var(--light-weight);
    font-style: normal;
    font-size: 15px;
    margin-top: 3px;
    margin-right: -40px;
  }

  .faq a {
    color: var(--secondary);
  }

  .joinus-btn {
    display: none;
    height: 50px;
    width: 125px;
    background-color: var(--primary);
    color: var(--text-color);
    font-weight: var(--darker-weight);
    font-size: 15px;
    border: none;
    cursor: pointer;
  }

  main {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    padding: 0 100px;
  }

  .section-one {
    /* border: 2px solid red; */
    width: 100%;
  }

  .section-two {
    /* border: 2px solid yellow; */
    width: 100%;
    /* position: relative; */
  }

  /* .dotted-img-ctn {
  height: 100%;
  width: 100%;
} */

  .dotted-img {
    display: none;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .hero-img-wrapper {
    display: block;
    text-align: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
  }

  .profile-img {
    height: 250px;
    /* width: 100%; */
    width: 300px;
    margin-top: 55px;
    margin-left: -35px;
  }

  .section-one-wrapper {
    /* border: 2px solid brown; */
    width: 140%;
    margin-top: 20px;
    margin-left: -60px;
  }

  .text-info-one {
    font-weight: var(--darker-weight);
    color: var(--secondary);
    font-size: 25px;
  }

  .text-info-two {
    font-weight: var(--light-weight);
    font-style: normal;
    color: var(--secondary);
    margin-top: 20px;
    font-size: 16px;
    /* line-height: 2; */
  }

  .reg-buttons {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px 0;
  }

  .sign-in {
    display: none;
  }

  .sign-in-two {
    display: block;
    border: 3px solid rgba(9, 56, 177, 1);
    background-color: transparent;
    color: var(--primary);
    height: 50px;
    width: 100%;
    font-weight: var(--darker-weight);
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
  }

  .sign-up-btn {
    height: 50px;
    width: 100%;
    background-color: var(--primary);
    color: var(--text-color);
    font-weight: var(--darker-weight);
    font-size: 15px;
    border: none;
    margin: 0 0;
    cursor: pointer;
  }

  /* .login-span {
    display: block;
    border: 3px solid rgba(9, 56, 177, 1);
    background-color: transparent;
    color: var(--primary);
    height: 50px;
    width: 100%;
    font-weight: var(--darker-weight);
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
  } */

  .chat-box {
    display: none;
  }

  #navBarr {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    padding: 0 0;
    z-index: 10;
  }

  .sidebar-content ul {
    background-color: #ffffff;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    max-height: 750px;
    margin-top: -1px;
  }

  /* .categories-container ul {
    display: flex;
    flex-direction: column;
  } */

  .bit-logo-ctn {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .bit-logo {
    color: var(--primary);
    font-weight: var(--darker-weight);
    font-size: 20px;
  }

  .spanned-logo {
    font-weight: normal;
  }

  .sign-ups {
    color: var(--primary);
    font-weight: var(--semi-weight);
    font-size: 18px;
  }

  .login-bottom {
    margin: 10px 0;
    padding-left: 20px;
    /* border-bottom: 2px solid rgba(44, 44, 44, 0.3); */
  }

  .logins {
    color: var(--primary);
    font-weight: var(--semi-weight);
    font-size: 18px;
  }

  .services-ctn {
    border-top: 2px solid rgba(44, 44, 44, 0.3);
    border-bottom: 2px solid rgba(44, 44, 44, 0.3);

    margin-top: 20px;
  }

  .wrappers {
    padding: 35px 0;
  }

  .services {
    color: var(--secondary);
    font-weight: var(--light-weight);
    font-size: 20px;
    padding: 10px 0;
  }

  .services:hover {
    color: red;
    text-decoration: underline;
  }

  .copyright {
    font-size: 12px;
    padding-top: 5px;
  }

  .ft-services {
    margin-top: 20px;
  }

  .close-button {
    /* position: relative;
    top: 20px;
    left: 70px;
    font-size: 30px;
    background-color: blue;
    height: 50px;
    width: 100%;
    max-width: 700px;
    border-radius: 50%; */

    /* padding: 0 15px; */
    /* padding-left: 17px; */
    /* padding-right: 17px; */
    /* padding-bottom: 65px; */
    /* padding-bottom: 5px; */
    /* background-color: #ffffff;
    color: var(--secondary);
    height: 5px;
    width: 55px;
    border: 2px solid green;
    border-radius: 50%;
    margin: 20px 50px;
    font-size: 45px;
    text-align: center; */
  }

  .sideBarCloseBtn {
    /* display: none; */
    position: relative;
    top: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    background-color: #ffffff;
    font-weight: var(--light-weight);
    color: var(--secondary);
    border: none;
  }
}

.chat-text {
  margin: 0 9px;
}

/* .sign-up-ctn {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  height: 100vh;
  max-height: 650px;
  width: 500px;
  text-align: center;
  background-color: white;
  z-index: 10;

} */

.sign-up-ctn {
  /* background-color: green; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  height: 100vh;
  max-height: 900px;
  width: 100vw;
  text-align: center;
  background-color: white;
  z-index: 0;
}

.signup-sub-ctn {
  /* border: 2px solid red; */
  width: 150%;
  margin-top: 20px;
  /* margin-left: -10px; */
}

.close-btn-ctn {
  display: none;
  position: absolute;
  top: 10px;
  left: 530px;
  border-radius: 5px;
}

.sign-in-ctn {
  position: absolute;
  display: block;
  /* justify-content: space-between;
  position: fixed; */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  height: 100vh;
  max-height: 900px;
  width: 100vw;
  text-align: center;
  background-color: white;
  z-index: 0;
}

.signin-sub-ctn {
  /* border: 2px solid red; */
  width: 90%;
  margin-top: 50px;
  /* margin-left: 25px; */
}

.closeSignInbutton {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  background-color: #ffffff;
  color: var(--secondary);
  font-weight: var(--light);
  border: none;
}

#overlay {
  display: none;
}

/* .signup-sub-ctn {
  width: 100%;
  margin-left: 25px;
} */

.close-btn-ctn {
  /* width: 10%; */
  position: absolute;
  top: 10px;
  left: 530px;
}

.sign-up-ctn.active {
  transform: translate(-50%, -50%) scale(1);
}

/* .sign-up-wrapper {
  box-shadow: 2px, 2px;
} */

.greeting-txt {
  margin-top: 50px;
  color: var(--secondary);
  font-weight: var(--semi-weight);
  font-size: 25px;
}

.prep-txt {
  font-weight: var(--light-weight);
  font-size: 15px;
  margin-top: 5px;
  color: var(--secondary);
  /* margin-left: 60px; */
}

form {
  margin-top: 25px;
  text-align: left;
  padding: 0 35px;
  /* margin-left: 50px; */
}

.form-headings {
  display: flex;
  flex-direction: column;
}

.labels {
  color: var(--secondary);
  font-size: 12px;
  font-weight: var(--light-weight);
}

.password-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #2c2c2c;
  background-color: white;
  height: 40px;
  align-items: center;
}

#passwordwrap {
  border: none;
  width: 100%;
  padding: 0 5px;
  font-size: 14px;
}

#passwordwrap:focus {
  outline: none;
  color: var(--secondary);
}

.pwd-block {
  margin-right: 10px;
  color: black;
  cursor: pointer;
}

.pwd-info {
  margin: 5px 0;
}

.inputs {
  height: 40px;
  border: 1px solid #2c2c2c;
  color: #a9a9a9;
  font-weight: var(--light-weight);
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 5px;
}

.inputs:focus {
  outline: none;
  color: var(--secondary);
}

.join-us-now-two {
  height: 50px;
  width: 100%;
  background-color: var(--primary);
  color: var(--text-color);
  font-weight: var(--darker-weight);
  font-size: 20px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

.hr-lines {
  margin-top: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.hr1 .hr2 {
  height: 1px;
  width: 100%;
}

.alt-text {
  text-align: center;
  font-size: 12px;
  font-weight: var(--light-weight);
}

.google-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2c2c2c;
  padding: 3px 0;
  margin: 15px 0;
  cursor: pointer;
}

.google-text {
  color: var(--secondary);
  font-weight: var(--light-weight);
  margin-left: 10px;
}

.existing-user {
  text-align: center;
  color: var(--secondary);
  font-size: 12px;
}

.lg-link a {
  color: var(--primary);
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (max-width: 400px) {
  body {
    /* background-color: yellow; */
  }
  #navBarr {
    display: none;
  }
  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    margin-top: 15px;
    margin-left: 10px;
  }

  .title-tag {
    color: var(--primary);
    font-weight: var(--darker-weight);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .title-span {
    font-weight: normal;
  }

  ul {
    display: flex;
    margin-top: 10px;
  }

  ul li {
    list-style: none;
    margin: 0 20px;
  }

  ul li a {
    text-decoration: none;
  }

  .faq {
    margin-top: 15px;
    font-weight: var(--light-weight);
    font-style: normal;
    font-size: 15px;
    margin-top: 3px;
    margin-right: -30px;
  }

  .faq a {
    color: var(--secondary);
  }

  main {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    padding: 0 100px;
  }

  .hero-img-wrapper {
    display: block;
    text-align: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
  }

  .profile-img {
    height: 250px;
    /* width: 100%; */
    width: 250px;
    margin-top: 60px;
    margin-left: -50px;
  }

  .section-one-wrapper {
    /* border: 2px solid brown; */
    width: 180%;
    /* max-width: 300px; */
    margin-top: 17px;
    margin-left: -60px;
  }

  .text-info-one {
    font-weight: var(--darker-weight);
    color: var(--secondary);
    font-size: 20px;
    /* margin-left: -30px; */
  }

  .text-info-two {
    font-weight: var(--light-weight);
    font-style: normal;
    color: var(--secondary);
    margin-top: 20px;
    font-size: 12px;
    /* margin-left: -30px; */
  }

  /* For testing */
  /* .profile-img {
    height: 300px;
    width: 300px;
    margin-top: 15px;
    margin-left: -35px;
  }

  .section-one-wrapper {
    border: 2px solid brown;
    width: 100vw;
    margin-top: 5px;
    margin-left: -80px;
  }

  .text-info-one {
    font-weight: var(--darker-weight);
    color: var(--secondary);
    font-size: 25px;
  }

  .text-info-two {
    font-weight: var(--light-weight);
    font-style: normal;
    color: var(--secondary);
    margin-top: 20px;
    font-size: 17px;
    
  } */
  /* For testing  */

  .reg-buttons {
    display: flex;
    flex-direction: column-reverse;
    margin: 17px 0;
  }

  .sign-in {
    display: none;
  }

  .sign-in-two {
    display: block;
    border: 3px solid rgba(9, 56, 177, 1);
    background-color: transparent;
    color: var(--primary);
    height: 50px;
    width: 100%;
    font-weight: var(--darker-weight);
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    /* margin-left: -30px; */
  }

  .sign-up-btn {
    height: 50px;
    width: 100%;
    background-color: var(--primary);
    color: var(--text-color);
    font-weight: var(--darker-weight);
    font-size: 15px;
    border: none;
    margin: 0;
    cursor: pointer;
    /* margin-left: -30px; */
  }

  .sign-in {
    border: 2px solid rgba(9, 56, 177, 1);
    background-color: transparent;
    color: var(--primary);
    /* color: red; */
    height: 50px;
    width: 10px;
    font-weight: var(--darker-weight);
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
  }

  .sideBarCloseBtn {
    /* display: none; */
    position: relative;
    top: 20px;
    left: 12px;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    background-color: #ffffff;
    font-weight: var(--light-weight);
    color: var(--secondary);
    border: none;
  }
}

@media only screen and (max-width: 350px) {
  body {
    /* background-color: paleturquoise; */
  }

  #navBarr {
    display: none;
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    margin-top: 12px;
    margin-left: 10px;
  }

  .title-tag {
    color: var(--primary);
    font-weight: var(--darker-weight);
    font-size: 17px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .title-span {
    font-weight: normal;
  }

  ul {
    display: flex;
    margin-top: 10px;
  }

  ul li {
    list-style: none;
    margin: 0 20px;
  }

  ul li a {
    text-decoration: none;
  }

  .faq {
    margin-top: 15px;
    font-weight: var(--light-weight);
    font-style: normal;
    font-size: 13px;
    margin-top: 3px;
    margin-right: -30px;
  }

  .faq a {
    color: var(--secondary);
  }

  main {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    padding: 0 100px;
  }

  .hero-img-wrapper {
    display: block;
    text-align: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
  }

  .profile-img {
    height: 200px;
    /* width: 100%; */
    width: 220px;
    margin-top: 15px;
    margin-left: -40px;
  }

  .section-one-wrapper {
    /* border: 2px solid brown; */
    width: 100%;
    margin-top: 10px;
  }

  .text-info-one {
    font-weight: var(--darker-weight);
    color: var(--secondary);
    font-size: 14px;
  }

  .text-info-two {
    font-weight: var(--light-weight);
    font-style: normal;
    color: var(--secondary);
    margin-top: 20px;
    font-size: 10px;
  }

  .reg-buttons {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px 0;
  }

  .sign-in {
    display: none;
  }

  .sign-in-two {
    display: block;
    border: 3px solid rgba(9, 56, 177, 1);
    background-color: transparent;
    color: var(--primary);
    height: 50px;
    width: 150%;
    font-weight: var(--darker-weight);
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: -30px;
  }

  .sign-up-btn {
    height: 50px;
    width: 150%;
    background-color: var(--primary);
    color: var(--text-color);
    font-weight: var(--darker-weight);
    font-size: 15px;
    border: none;
    margin: 0;
    cursor: pointer;
    margin-left: -30px;
  }
}

.signup-mobile {
  display: none;
}
